
DB_USER=gambler
DB_NAME=gambling
DB_PASSWORD=fortune
DB_HOST=127.0.0.1

FAKE_BANK_A_HOST=fakebank-a.com
FAKE_BANK_A_CLIENT_ID=fakebankaid1234
FAKE_BANK_A_CLIENT_SECRET=fakebankaid1234
FAKE_BANK_A_CERTIFICATE_PATH=var/sertificates/fake-bank-a-cert.pem
FAKE_BANK_A_CERTIFICATE_PASSWORD=bank-a-1234


